
$grid__bp-xs: 428;
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__bp-xxl: 1440;
$grid__bp-3xl: 1680;
$grid__cols: 12;
$gutter: 20;

$container-width-xl: 1160;
$container-width-xxl: 1300;
$container-width-3xl: 1550;


$map-grid-props: (
    '': 0,
    '-xs': $grid__bp-xs,
    '-sm': $grid__bp-sm,
    '-md': $grid__bp-md,
    '-lg': $grid__bp-lg,
    '-xl': $grid__bp-xl,
    '-xxl': $grid__bp-xxl,
    '-3xl': $grid__bp-xxl
);


// fundamentally
$white: #fff;
$black:#000;
$-font-dark-blue: #002265;
$-font-light-blue: #14279B;
$-bg-light-blue: #608AF5;
$dark-blue: #07253C;

// Блок card__title
$-card-title-dark-blue: #6C63FF;
$-card-title-light-blue: #4581F6;

// Блок networks
$-networks-grey: #3F3D56;
