// ---------------------------------------Grid
// $grid__bp-sm: 576;
// $grid__bp-md: 768;
// $grid__bp-lg: 992;
// $grid__bp-xl: 1200;
// $grid__bp-xxl: 1440;
// $grid__cols: 12;
// $gutter: 20;
// $scrollbar-width: 20;
// // $container-width-lg: 940;
// // $container-width-xl: 1140;

$grid__bp-xs: 428;
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__bp-xxl: 1440;
$grid__cols: 12;
$gutter: 20;
$container-width-xxl: 1200;



$map-grid-props: (
    '': 0,
    '-xs': $grid__bp-xs,
    '-sm': $grid__bp-sm,
    '-md': $grid__bp-md,
    '-lg': $grid__bp-lg,
    '-xl': $grid__bp-xl,
    '-xxl': $grid__bp-xxl
);

$map-grid-props: (
        '': 0,
        '-xs': $grid__bp-xs,
        '-sm': $grid__bp-sm,
        '-md': $grid__bp-md,
        '-lg': $grid__bp-lg,
        '-xl': $grid__bp-xl,
        '-xxl': $grid__bp-xxl
);


//------------------------------------- color
$white: #fff;
$black: #000;
$blue: #14279B;
$light-blue: #608AF5;
$dark-blue:#07253C;