.content {
   padding-top: 20px;
   &__smail{
      color: $blue;
      font-weight: 400;
      font-size: 1.5rem;
   }
   &__header {
      max-width: 350px;
      line-height: 37.5px;
      font-weight: 600;
      font-size: 1.5rem;
      letter-spacing: 1px;
      color: $blue;
   }
   &__paragraf {
      // max-width: 350px;
      font-size: 0,875rem;
      letter-spacing: 1.5%;
      line-height: 21px;
   }
   &__block{
      display: block;
   }
}
//---------------------------------------------------------------768<   
@media screen and (min-width:768px){
   .content {
      padding-top: 80px;
      padding-right: 20px;
      order: 1;
      background: url("/imeges/content/vektor-top.svg") -10px 0px no-repeat , url("/imeges/content/vetor-bottom.svg") 200px 180px no-repeat;
      background-size: 60% 60%, 35% 35%;
      &__smail{
         color: $blue;
         font-weight: 400;
         font-size: 1.5rem;
      }
      &__header {
         max-width: 350px;
         line-height: 37.5px;
         font-weight: 600;
         font-size: 1.5rem;
         letter-spacing: 1px;
         color: $blue;
      }
      &__paragraf {
         font-size: 0,875rem;
         letter-spacing: 1.5%;
         line-height: 21px;
      }
   }
}
//---------------------------------------------------------------992<  

@media screen and (min-width:992px){
   .content {
      padding-top: 110px;
      padding-right: 20px;
      margin: 0;
      order: 1;
      background: url("/imeges/content/vektor-top.svg") 50px -10px no-repeat , url("/imeges/content/vetor-bottom.svg") 155px 250px no-repeat;
      &__smail{
         color: $blue;
         font-weight: 400;
         font-size: 1.5rem;
      }
      &__header {
         max-width: 350px;
         line-height: 37.5px;
         font-weight: 600;
         font-size: 1.5rem;
         letter-spacing: 1px;
         color: $blue;
      }
      &__paragraf {
         font-size: 0,875rem;
         letter-spacing: 1.5%;
         line-height: 21px;
      }
   }
}
