[id]{
   scroll-margin-top: 5.5rem;
}

.header{
   top: 0;
   background-color: $white;
   padding: 0 1.6rem;
   z-index: 1000;
   &__container{
      min-height: 3.3rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
   }
}

@media screen and (min-width:992px){
   .header{
      &__container{
         flex-wrap: nowrap;
         min-height: 5.5rem;
      }
   }
}

