.logo{
   z-index: 2;
   &__link{
      text-decoration: none;
      font-size: 1.625rem;
      font-family: 'Poppins';
      font-weight: 600;
      font-style: normal;
      letter-spacing: 0.2rem;
      color: $-font-dark-blue;
      span{
         font-weight: 400;
         color: $-font-light-blue;
      }
   }
}