.passions{
   padding-bottom: 3.9rem;
}

@media screen and (min-width:768px) {
   .passions{
      padding-bottom: 11.1rem;
      background: url('/imeges/content/vektor-top.svg') 10px 0 no-repeat , url('/imeges/content/vetor-bottom.svg') 460px 240px no-repeat;
      background-size: auto auto , 55% 55%;
      }
}
@media screen and (min-width:1680px) {
   .passions{
      padding-bottom: 11.1rem;
      background: url('/imeges/content/vektor-top.svg') 10px 0 no-repeat , url('/imeges/content/vetor-bottom.svg') 530px 230px no-repeat;
      background-size: auto auto , 65% 65%;
      }
}