.picture {   
   text-align: center;
   &__img{
      width: 16.1rem;
   }
}
@media screen and (min-width:768px){
   .picture {
      order: 2;
      &__img{
         width: auto;
      }
   }
}
@media screen and (min-width:992px){
   .picture {
      padding-top: 2.2rem;
      order: 2;
   }
}