.pillar{
   padding: 1.1rem  0.9rem 0.9rem 0.9rem ;
   box-shadow: 0px 0px 15px 0px #c7c6d4;
   position: relative;
   &__header{
      min-height: 195px;
      margin-bottom: 36px;
      background: url("/imeges/portfolio/cricle-2.svg") 0 0 no-repeat;
   }
   &__title{
      padding-top: 9px;
      padding-left: 14px;
      font-size: 25px;
      font-weight: 600;
      color: #4581F6;
   }
   &__text{
      padding-left: 132px;
      font-size: 16px;
      line-height: 0px;
      color: #4581F6;
   }
   &__img{
      position: absolute;
      bottom: 0;
      left: 40px;
   }
}