.portfolio{
   padding-bottom: 9.4rem;
}

@media screen and(min-width:768px) {
   .portfolio{
      padding-bottom: 9.4rem;
      background: url("/imeges/content/vektor-top.svg") -100px -35px no-repeat , url("/imeges/content/vetor-bottom.svg") 670px 150px no-repeat;
      background-size: 60% 60% , 40%;
   }
   
}
@media screen and(min-width:1090px) {
   .portfolio{
      padding-bottom: 9.4rem;
      background: url("/imeges/content/vektor-top.svg") -150px -40px no-repeat , url("/imeges/content/vetor-bottom.svg") 840px 270px no-repeat;
      background-size: 60% 60% , auto auto;
   }
   
}
@media screen and(min-width:1200px) {
   .portfolio{
      padding-bottom: 9.4rem;
      background: url("/imeges/content/vektor-top.svg") -200px -40px no-repeat , url("/imeges/content/vetor-bottom.svg") 880px 270px no-repeat;
      background-size: 60% 60% , auto auto;
   }
   
}
@media screen and(min-width:1440px) {
   .portfolio{
      padding-bottom: 9.4rem;
      background: url("/imeges/content/vektor-top.svg") -200px -40px no-repeat , url("/imeges/content/vetor-bottom.svg") 950px 250px no-repeat;
      background-size: 60% 60% , auto auto;
   }
   
}







